<section class="section">
  <div class="container">
    <header class="section__title">
        <h2>Login Page</h2>
    </header>

    <div class="card">
      <div class="card__header">

        <%= form_tag '/login', method: :post do  %>
          <form class="card__body">
              <div class="form-group m-b-5">
                  <input type="text" name="email" class="form-control">
                  <i class="form-group__bar"></i>
                  <label>Email</label>
              </div>
              <div class="form-group m-b-5">
                  <input type="password" name="password" class="form-control">
                  <i class="form-group__bar"></i>
                  <label>Password</label>
              </div>
            <%= submit_tag "Login" %>
          </form>
        <% end %>
      </div>
    </div>
  </div>
</section>
